# lombok.config : Lombok 플러그인의 설정 파일


# Lombok이 자동으로 생성한 코드에 @Generated 어노테이션을 자동으로 추기
lombok.addLombokGeneratedAnnotation = true

# 로거 객체 이름을 log에서 logger로 변경
lombok.log.fieldName = logger

# 해당 파일의 설정으로 인해 생긴 경고나 에러들을 처리할 때, 가장 처음에 처음으로 발견된 경고나 에러에서 중단하도록 설정
config.stopBubbling = true

# @AllArgsConstructor 어노테이션 사용 금지
lombok.allArgsConstructor.flagUsage = error

# @RequiredArgsConstructor 어노테이션 사용 금지
lombok.requiredArgsConstructor.flagUsage = error

# @Data 어노테이션 사용 금지
lombok.data.flagUsage = error

# @Value 어노테이션 사용 금지
lombok.value.flagUsage = error

# @NonNull 어노테이션 사용 금지
lombok.nonNull.flagUsage = error

# @Cleanup 어노테이션 사용 금지
lombok.cleanup.flagUsage=error

# @SneakyThrows 어노테이션 사용 금지
lombok.sneakyThrows.flagUsage=error

# @Synchronized 어노테이션 사용 금지
lombok.synchronized.flagUsage=error

# @Experimental 어노테이션 사용 금지
lombok.experimental.flagUsage = error

# lombok.val 사용 금지
lombok.val.flagUsage = error

# lombok.var 사용 금지
lombok.var.flagUsage = error